.row-preview {
  background-color: white;
  border-width: 5px;
  border-style: groove;
  margin-bottom: 10px;
  min-height: 200px;
}

.row-content {
  background-color: white;
  border-width: 5px;
  border-style: groove;
  min-height: 400px;
}

#ImgPre {
  border-width: 1px;
  border-style: solid;
  border-color: darkgray;
}

.footer {
  background-color: lightgray;
  margin-top: 10px;
}

.jumbotron {
  background-color: lightgray;
}

.navbar-dark {
  background-color: #343a40;
}

p#artdate {
  font-size: 12px;
  margin: 0px;
}

a#read-more {
  font-size: 12px;
}

body {
  background-color: #343a40;
}

#artListTitle, #aboutTitle {
  color: lightgray;
}

hr {
  border-color: lightgray;
}

#homeList, #jumboContent, #artList, #about {
  animation-duration: 1.25s;
}